@keyframes LaunchPadBegin {
    0% {
        opacity: 0;
        transform: scale(1.1);
        z-index: 0
    }

    100% {
        opacity: 1;
        transform: scale(1);
        z-index: 0
    }
}

@keyframes LaunchPadBack {
    0% {
        opacity: 1;
        transform: scale(1);
        z-index: 0
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
        z-index: 0
    }
}

@keyframes DockBegin {
    0% {
        transform: translateY(120%);
    }
}

@keyframes DockBack {
    100% {
        transform: translateY(120%);
    }
}

@keyframes opacityBegin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityBack {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes BigAnimation {
    100% {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
}

@keyframes BigAniBack {
    0% {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    100% {
        width: 30%;
        height: 20%;
        top: 20%;
        left: 20%;
    }
}

@keyframes Alert {
    0% {
        width: 27px;
        height: 27.5px;
        top: calc(50% - 54px);
        left: calc(50% - 13.75px);
    }

    75% {
        width: 280px;
        height: 285px;
        top: calc(50% - 140px);
        left: calc(50% - 142.5px);
    }

    100% {
        width: 260px;
        height: 265px;
        top: calc(50% - 132.5px);
        left: calc(50% - 130px);
    }
}

@keyframes DesktopLefting {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes OpeningApp {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-35px);
    }

    37.5% {
        transform: translateY(0);
    }

    57.5% {
        transform: translateY(-35px);
    }

    75% {
        transform: translateY(0);
    }

    95% {
        transform: translateY(-35px);
    }

    112.5% {
        transform: translateY(0);
    }

    132.5% {
        transform: translateY(-35px);
    }
}