.icns img {
    width: 64px;
    height: 64px;
    transition: margin 0.3s ease-out, scale 0.3s ease-out;
    transform-origin: bottom;
    object-fit: cover;

    &:hover {
        scale: 1.7;
        margin: 0 14.5px;
    }

    &:has(+ img:hover),
    &:hover + img {
        scale: 1.525;
        margin: 0 12.75px;
    }

    &:has(+ img + img:hover),
    &:hover + img + img {
        scale: 1.35;
        margin: 0 9px;
    }

    &:has(+ img + img + img:hover),
    &:hover + img + img + img {
        scale: 1.175;
        margin: 0 5.75px;
    }

    /* about hr */

    &:has(+ img:hover + hr + img),
    &:hover + hr + img {
        scale: 1.525;
        margin: 0 12.75px;
    }

    &:has(+ img:hover + hr + img + img),
    &:hover + img + hr + img {
        scale: 1.35;
        margin: 0 9px;
    }

    &:has(+ img + img + hr + img + img:hover),
    &:hover + img + hr + img + img {
        scale: 1.175;
        margin: 0 5.75px;
    }

    &:has(+ img + hr + img + img + img:hover),
    &:hover + img + img + hr + img {
        scale: 1.175;
        margin: 0 5.75px;
    }

    &:has(+ img + img + hr + img:hover),
    &:hover + hr + img + img {
        scale: 1.35;
        margin: 0 9px;
    }

    &:has(+ img + img + img + hr + img:hover),
    &:hover + hr + img + img + img {
        scale: 1.175;
        margin: 0 5.75px;
    }
}