#desktop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}

.window {
    resize: both;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/Sequoia-Day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: 0.5s ease;
}

#dock {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
    width: auto;
    height: 80px;
}

.icns {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 24px;
    box-shadow: 0px 36px 100px rgba(0, 0, 0, 0.45);
    border: 0.4px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.425);
    padding: 5px;
    padding-bottom: 10px;
    z-index: 1024;
    width: auto;
    animation: DockBegin 0.5s forwards ease-out;
}

.icns img {
    width: 64px;
    height: 64px;
    transition: transform 0.45s ease-out;
    transform-origin: bottom;
    object-fit: cover;
}

.icns #AppIcon #noti {
    width: 18px;
    height: 18px;
}

.icons #AppIcon #light {
    align-self: center;
    justify-self: center;
    max-width: 4px;
    max-height: 4px;
    border-radius: 1px;
    background-color: #e6e6e6;
    opacity: 0;
}

.icns hr {
    background: #E8E8E8;
    border-radius: 1px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    height: 75%;
    width: 1px;
    justify-self: center;
    align-self: center;
}

#app-name {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-175%);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 1024;
    font-size: 13px;
    color: #000;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -7.5px;
        transform: translateX(-50%) rotate(180deg);
        border-style: solid;
        border-width: 0 7.5px 7.5px 7.5px;
        border-color: transparent transparent rgba(255, 255, 255, 0.4) transparent;
    }
}

#topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    padding: 0.3%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(230, 230, 230, 0.35);
    display: inline-flex;
    flex-direction: row;
    z-index: 2;
    color: #000;
}

#topbar #menu {
    width: 50%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 3px;
}

#topbar #menu h4 {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

#topbar #hoverd {
    margin: 0;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 8px;
}

#topbar #status {
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}

#topbar #status img {
    margin-right: 1.2%;
}

#apple-menu {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 37px;
    left: 0.3%;
    width: 10%;
    height: auto;
    margin: 0;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    border-radius: 10px;
    padding: 7.5px;
    z-index: -0.5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 8px 30px rgba(0, 0, 0, 0.25);
}

#win-tool {
    width: 52px;
    height: 12px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#close {
    background: #ff5f57;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    width: 12px;
    height: 10px;
    border-radius: 6px;
    margin-right: 8px;
}

#minimize {
    background: #febc2e;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    width: 12px;
    height: 10px;
    border-radius: 6px;
}

#zoom {
    background: #28c840;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    width: 12px;
    height: 10px;
    border-radius: 6px;
    margin-left: 8px;
}

#none {
    background-color: rgba(110, 108, 103, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    width: 12px;
    height: 10px;
    border-radius: 6px;
    margin-left: 8px;
}

#app-menu {
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.06);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 204px;
}

#menu-hr {
    background-color: rgb(145, 145, 145);
    border: none;
    width: 92.5%;
    height: 1px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border-radius: 1px;
}

#control {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.86);
    border-radius: 5px;
    padding-left: 3.5%;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

#control:hover {
    background-color: #0A82FF;
    color: #fff;
}

#alert-window {
    width: 260px;
    height: 232px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05), 0 38px 90px 0 rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.60), inset 0 0 3px 0 rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    background: #fbfbfb6f;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: calc(50% - 132.5px);
    left: calc(50% - 130px);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    z-index: 3;
    opacity: 0;
    animation: Alert 0.5s forwards ease-in-out, opacityBegin 0.525s forwards ease-in-out;
    animation-delay: 0.75s;
}

#alert-window img {
    width: 24.61%;
    height: 24.15%;
    margin-top: 7.5%;
    border-radius: 16px;
    opacity: 0;
    animation: opacityBegin 0.25s forwards ease-in-out;
    animation-delay: 0.75s;
}

#alert-window #title {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    margin-top: 7.5%;
    opacity: 0;
    animation: opacityBegin 0.25s forwards ease-in-out;
    animation-delay: 0.75s;
}

#alert-window #des {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    margin-top: 3.77%;
    opacity: 0;
    animation: opacityBegin 0.25s forwards ease-in-out;
    animation-delay: 0.75s;
}

#alert-window #btn {
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    width: 87.69230769231%;
    height: 9.811320754717%;
    position: absolute;
    top: 69.8%;
    left: calc(50% - 87.69230769231% / 2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(179deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.00) 96%), linear-gradient(to bottom right, #2277ff, #0c61ff);
    background-size: 100% 100%;
    color: #000000;
}

#alert-window #btn p {
    margin: 0;
    color: #fff;
}

#contextmenu {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    width: 135px;
    height: auto;
    margin: 0;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    border-radius: 10px;
    padding: 7.5px;
    z-index: -0.5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 8px 30px rgba(0, 0, 0, 0.25), 0 0 1px black;
    font-size: 10px;
}

#ct-menu {
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.06);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

#ct-menu hr {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    border: none;
    width: 90%;
    height: 1px;
    margin: 0;
}

#sys-dialog {
    width: 420px;
    height: 175px;
    box-shadow: 0px 36px 100px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    position: absolute;
    top: calc(50% - 87.5px);
    left: calc(50% - 210px);
}

#cursor {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2048;
}