.finder {
    width: 700px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 350px);
    box-shadow: 0 36px 100px 0 rgba(0, 0, 0, 0.40), 0 0 3px 0 rgba(0, 0, 0, 0.55);
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
}

#sidebar {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    width: 200px;
    height: 400px;
    border-radius: 10px 0 0 10px;
}

#edge {
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.05);
    width: 1px;
    height: 400px;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 50px;
    z-index: inherit;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
}

#toolbar-bottom-border {
    width: 500px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

#toolbar-right-content {
    position: absolute;
    top: 0;
    left: 200px;
    width: 500px;
    height: 50px;
    z-index: inherit;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: flex-end;
    color: #fff;
}

#back-for-ward {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

#wards {
    width: 13px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
    filter: invert(0%);
    -webkit-filter: invert(0%);
}

#title {
    font-size: 17.5px;
    margin-left: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

#right-tools {
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
}

#item {
    margin-left: 8px;
    filter: invert(0%);
    -webkit-filter: invert(0%);
}

#content {
    background-color: #1c2029;
    width: 500px;
    height: 400px;
    border-radius: 0 10px 10px 0;
}